<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>31ADFFAFF238AB652C2DB728396A4C6EEEB1595A</string>
				<key>dateExpires</key>
				<string>16/07/22</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31ADFFAFF238AB652C2DB728396A4C6EEEB1595A</string>
						<key>dateExpires</key>
						<string>16/07/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KV927PF9A</string>
						<key>name</key>
						<string>Nomos Time Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31ADFFAFF238AB652C2DB728396A4C6EEEB1595A</string>
						<key>dateExpires</key>
						<string>16/07/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityAppleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KV927PF9A</string>
						<key>name</key>
						<string>Nomos Time Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>31ADFFAFF238AB652C2DB728396A4C6EEEB1595A</string>
						<key>dateExpires</key>
						<string>16/07/22</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>5KV927PF9A</string>
						<key>name</key>
						<string>Nomos Time Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>3.4.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>5KV927PF9A.com.nomostimelimited.demo</string>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>5KV927PF9A</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>feaf4e54-d359-48dc-a872-840bdc4e3b04</string>
				<key>dateExpires</key>
				<string>18/03/23</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.nomostimelimited.demo</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>5KV927PF9A</string>
				<key>name</key>
				<string>Nomos Time Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
